.link{
    margin-left: 70px;
    text-decoration: none;
    color: black;
    font-size: xx-large;
  }
  .logoi{
    margin-top: 70px;
    padding: 0;
    width: fit-content;
    height: fit-content;
    margin-bottom: 300px;
}
h1{
  text-align: center;
  margin-bottom: 80px;
}
.img1{
  width: 100%;
  margin-bottom: 150px;
}
@media only screen and (max-width: 700px){
  .logoi > a>img{
    width: 300px;
}
.link{
  margin-left: 40px;
}
#dmgft{
display: none !important;
}
footer{
height:170px !important;

}
.img1{
  height: 300px;
  
}


}